<!DOCTYPE html>
<html>
<head>
    <title>Welcome to ARTTU</title>
    <link rel="stylesheet" href="/style.css">
    <style>
        .center-screen {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="center-screen">
    <h1 style="color: #800020; font-size: 4em; margin-bottom: 10px;">ARTTU PARTNERS</h1>
    <p style="font-size: 1.5em; margin-bottom: 40px;">Team Management Database</p>

    <div>
        <a href="/login" class="btn-action">LOG IN</a>
        <a href="/register" class="btn-action" style="background-color: #333;">SIGN UP</a>
    </div>
</div>
</body>
</html>